In [1]:
import pandas as pd

In [4]:
data=pd.read_csv('donuts.csv')

In [5]:
data.head()

     Name  Donuts per day
0    Rick              20
1    Jill              29
2     Sam              12
3     Ted               3
4  Morgan               1

In [6]:
data.mean()

Donuts per day    10.833333
dtype: float64